#conversation {
  display: flex;
  padding: 10px;
  cursor: pointer;
  height: 4rem;
}

#conversation:hover {
  background-color: rgba(162, 145, 255, 0.192);
}

.conversation_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 2px rgb(175, 129, 250);
  flex: 1px;
}

#conversation_name {
  font-weight: 500;
  margin-left: 1rem;
}

#conversation_lm {
  padding-left: 1rem;
  margin-bottom: 5rem;
}


#conversation_message{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10rem;

}
a:link {
  text-decoration: none;
}

#convo {
  flex: 9;
  text-align: left;

}
