#scheduler-container {
  flex: 7.5;
  margin-left: 11vh;
  margin-top: 7vh;
  height: 93vh;
  padding-top: 2vh;
}

#scheduler-page {
  display: flex;
  background-image: linear-gradient(to top, #ede9f7, #f5f5f5, #ede9f7);
}

#event_boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 0.8rem;
  height: 25vh;
  overflow-y: scroll;
}

#add-button {
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(
    to right,
    #33335f,
    #483285,
    #5548c9,
    #3e3f77
  );
  background-size: 200%;
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 0;
  margin-top: 1rem;
  bottom: 4px;
  left: 0%;
  right: 0%;
  box-shadow: 2px 2px 4px rgb(54, 53, 53);
  width: 24vh;
  margin-left: 45%;
  margin-bottom: 1rem;
}

#add-button:hover {
  background-position: right;
}

#event-show-form {
  background-image: linear-gradient(to bottom, #b1b3f5, rgb(206, 206, 226));
  border-radius: 5px;
  width: 70vw;
  padding: 1rem;
  margin-left: 13vw;
  box-shadow: 2px 2px 4px grey;
  height: 40vh;
  padding-left: 1.2rem;
  z-index: 999;
  position: fixed;
}

.form_input {
  border-radius: 5px;
  margin-right: 1rem;
  margin-left: 0.2rem;
  background-color: #e7e7e7;
  border: solid 2px #989bec;
  color: #6062a1;
  width: 17vw;
  height: 2.1rem;
  margin-top: 0;
  font-weight: 500;
  padding: 0;
}

.form_label {
  color: #33335f;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

#form-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #483285;
}

#note {
  font-size: 1rem;
}

#close_form_icon {
  color: #33335f;
  font-size: 1.5rem;
}

#close_form_icon:hover {
  color: rgb(128, 128, 128);
}
