#chat{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  #chat_menu_heading{
   font-size: 1.2rem;
   font-weight: 500;
    padding-left: 6rem;
   border-bottom: solid 1.5px rgb(207, 207, 207);
   padding: 0.7rem;
  padding-right: 2rem;

  }

  #message_heading{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5rem;
    padding-left: 2rem;
    border-bottom: solid 1.4px rgb(228, 228, 228);
    position: fixed;
    display: block;
    background-color: #f5f5f5;
    width: 100%;
   
   
    
 
   }


  


  .chat_menu_heading:hover{
  color: #464775;

 
   }

.messenger{
height:calc(100vh-70px);
display:flex;
  }

#chat_menu{
flex:2.5;
background-color: #f0f0f0;
height:91vh;
box-shadow: inset -7px 0 9px -7px rgba(99, 99, 99, 0.4);
  
  }

.chat_menu_input{
  width: 90%;
  border:none;
  border-bottom: 1px solid grey;

}

#chat_box{
    flex:7;
    background-color: #f5f5f5;
      }


      .chat_box_top{
        overflow-x: hidden ;
        overflow-y:scroll;
        height: 73vh;
      }


.chat_box_bottom{
  position: fixed;
  display: block;
  margin-top: 73vh;

  

}

#chat_send{
  text-align: left;
  
  color: #464775;
  padding-left: 4rem;
  background-color: #f5f5f5;

}

.chat_send:hover{
  text-align: right;
  margin-right: 2rem;

  color: rgb(36, 36, 36);
  
  
}

#chat_message_input{
  width:120vh;
  height:20px;
  padding:10px;
  margin-left: 4rem;
  border:none;
  border-bottom: solid 2px #464775;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 2rem;
  
}


 .chat_box_wrapper{
  padding:0;
  height:100%;

}
.chat_menu_wrapper{
  padding:0;
  height:100%;

}

.chat_messages_wrapper{
  padding:0px 20px;
  height:100%;
  padding-top: 4rem;

}


#Emoji_List{
  display: none;
  position: fixed;
  margin-top: 7rem;
  margin-left: 4rem;
}