#chat{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  #chat_menu_heading{
   font-size: 1.2rem;
   font-weight: 500;
   padding-left: 6rem;
   border-bottom: solid 1.5px rgb(207, 207, 207);
   padding: 0.7rem;
   padding-right: 2rem;

  }

  #message_heading{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.41rem;
    text-align: left;
    border-bottom: solid 1.4px rgb(199, 199, 199);
    position: fixed;
    display: block;
    width: 100%;
    box-shadow: 20px 0 20px -20px #d2d9f5 inset;
    margin-top:8.3vh;
    margin-left: 63.5vh;
    
 

    
 
   }

#mic{
  padding-top: 1.7rem;
  padding-right:20rem;
}
  


  .chat_menu_heading:hover{
  color: #464775;

 
   }

.messenger{
height:calc(100vh-70px);
display:flex;
  }

#chat_menu{
flex:2.5;
background-color: #f0f0f0;
height:91.7vh;
box-shadow: inset 9px 0px 9px -7px rgba(99, 99, 99, 0.4);
margin-top: 8vh;
margin-left: 11vh;
  
  }


#chat_box{
    flex:7;
    background-color: #f5f5f5;
    box-shadow: 20px 0 20px -20px #d2d9f5 inset;
    height:80vh;
    margin-top: 8.3vh;
      }


.chat_box_top{
    overflow-x: hidden ;
    overflow-y:scroll;
    height: 70vh;

      }


#chat_box_bottom{
  position: fixed;
  display: block;
  margin-top: 66vh;
  height:50vh;
  background-color: #f5f5f5;
  box-shadow: 20px 0 20px -20px #d2d9f5 inset;
}

#chat_send{
  text-align: left;
  color: #464775;
 margin-left: 4rem;


 

}

.chat_send:hover{
  text-align: right;
  margin-right: 2rem;

  color: rgb(36, 36, 36);
  
  
}

#chat_message_input{
  width:50vw;
  height:1.5rem;
  border:none;
  border: solid 2px #b199f3;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 2rem;
  
}

#text_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

 

}
 .chat_box_wrapper{
  padding:0;
  height:100%;
  margin-top: 8.5vh;

}
.chat_menu_wrapper{
  padding:0;
  height:100%;


}

.chat_messages_wrapper{
  padding:0px 20px;
  padding-top: 0.5rem;

 

}


#Emoji_List{
  position: fixed;
  margin-top: 6rem;
  margin-left: 4rem;
  z-index: 100000;
}

#recording,#not_recording{
  border: solid 2px #b199f3;
  padding:0.5rem;
  border-radius: 90%;
  margin-left:0.5rem ;
}

#not_recording{
color:#464775;
}

#recording{
  color:#b199f3;
}