* {
  margin: 0;
}

.bg {
  animation: slide 7s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #a3a4f5 50%, #c2c2f5 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 10s;
}

.bg3 {
  animation-duration: 11s;
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

#login-container {
  box-shadow: 2px 2px 4px rgb(182, 182, 182);
  width: 40vw;
  height: 45vh;
  background-color: white;
  border-radius: 5px;
  margin-left: 30%;
  margin-top: 12%;
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#login_heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#login_button {
  width: 10vw;
  height: 35px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(
    to right,
    #33335f,
    #483285,
    #5548c9,
    #3e3f77
  );
  background-size: 200%;
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 1.2rem;
  bottom: 4px;
  left: 0%;
  right: 0%;
  box-shadow: 2px 2px 4px rgb(54, 53, 53);
  margin-left: 3%;
}

#login_button:hover {
  background-position: right;
}
