#Sidebar_column
{
    background-color: #eeecf7;
    width:11vh;
    height: 86vh; 
    box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.4);
    padding-right:0.1rem;
    padding-top: 2rem;
   
}

a{
    text-decoration: none;
}

