#event_name {
  color: rgb(57, 32, 104);
  font-size: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#event_box {
  border-radius: 5px;
  background-image: linear-gradient(to top, #fcfcfc, #f3ecff, #e7e2f5);
  border: solid 2px #d1c3f7;
  box-shadow: 2px 4px 4px rgb(204, 204, 204);
  width: 20vw;
  height: 20vh;
  margin: 1rem;
}

#event_title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  margin-left: 30%;
  margin-top: 0.2rem;
  font-size: 1.5;
  font-weight: 500;
}

#event_time {
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

#event_date {
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

#event-button {
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(
    to right,
    #33335f,
    #483285,
    #5548c9,
    #3e3f77
  );
  background-size: 200%;
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 0;
  margin-top: 1rem;
  bottom: 4px;
  left: 0%;
  right: 0%;
  box-shadow: 2px 2px 4px rgb(54, 53, 53);
}

#event-button:hover {
  background-position: right;
}

#delete_icon {
  color: #483285;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

#delete_icon:hover {
  color: #7c65bd;
}

#view_button {
  width: 4rem;
  color: rgb(255, 255, 255);
  background-color: rgb(59, 12, 145);
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  height: 2rem;
  margin-top: 0.7rem;
}

#view_button:hover {
  transform: translatey(3px);
  box-shadow: none;
}

/* buttons hover Animation */

#view_button:hover {
  animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(5px);
  }
}
