body {
  margin: 0;
}

#video_div {
  flex: 7.5;
  background-image: linear-gradient(to top, #ede9f7, #f5f5f5, #ede9f7);
  padding-left: 2rem;
  height: 100vh;
}

#video_page {
  display: flex;
}
.flex-container {
  height: calc(100% - 150px);
  width: 100%;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#main {
  padding-top: 10rem;
  padding-left: 3rem;
}

.container {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.div-send-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-down {
  z-index: 2;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: auto;
}

#my-video {
  border: solid 2px rgb(69, 68, 168);
}

#video_button,
#connect_button {
  width: 45%;
  height: 30px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(
    to right,
    #33335f,
    #483285,
    #5548c9,
    #3e3f77
  );
  background-size: 200%;
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 1rem;
  bottom: 4px;
  left: 0%;
  right: 0%;
  box-shadow: 2px 2px 4px rgb(54, 53, 53);
  margin-left: 5%;
}

#video_button:hover,
#connect_button:hover {
  background-position: right;
}

#connect_button {
  width: 15%;
}

#video_container {
  width: 70vw;
}

#email_icon {
  color: #5456b4;
  z-index: 999999;
}
#email_icon:hover {
  color: #d4d4f7;
}

.btn-down {
  background-color: #b7a9f5;
  width: 30vw;
  align-items: center;
  margin-bottom: 2vh;
  border-radius: 25px;
  margin-left: 37vw;
}

#copy_details {
  position: fixed;
  width: 95vw;
  background-color: rgb(255, 255, 255);
  height: 12vh;
  margin-top: 8.4vh;
  margin-left: 8.6vh;
}
#connect_button {
  margin-left: 2vh;
}

#email_icon {
  color: #464775;
}

#video_container {
  width: 100vw;
  height: 100%;
}

.form_input {
  border-radius: 5px;
  margin-right: 1rem;
  margin-left: 0.2rem;
  background-color: #e7e7e7;
  border: solid 2px #989bec;
  color: #6062a1;
  width: 17vw;
  height: 2.1rem;
  margin-top: 0;
}

#link {
  display: none;
  width: 0px;
}

#send_button {
  width: 4rem;
  color: rgb(255, 255, 255);
  background-color: rgb(59, 12, 145);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  height: 2rem;
  margin-top: 0.5rem;
}

#close_button {
  color: white;
}

#closerecord_button {
  color: rgb(39, 39, 39);
}

#close_button:hover,
#closerecord_button:hover {
  color: rgb(114, 114, 114);
}

.contact-form {
  background-image: linear-gradient(to bottom, #6062a1, rgb(177, 178, 228));
  border-radius: 5px;
  width: 25vw;
  padding: 0.5rem;
  margin-left: 35%;
  box-shadow: 2px 2px 4px grey;
  height: 35vh;
}
#send_button:hover {
  transform: translatey(3px);
  box-shadow: none;
}

/* buttons hover Animation */

#send_button:hover {
  animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(5px);
  }
}

#transcription-container {
  position: fixed;
  margin-left: 28%;
  z-index: 200000;
  margin-top: 61vh;
}

#recorder_button {
  margin-top: 0.5rem;
}

#recording-div {
  padding: 0rem;
  background-color: white;
  border-radius: 5px;
  z-index: 999;
  margin-left: 52.5%;
  width: 60vh;
  margin-top: -2.5rem;
}

#start-button {
  border: solid 2px green;
  border-radius: 25px;
  width: 3rem;
  color: green;
  background-color: white;
  margin: 0.5rem;
}

#stop-button {
  border: solid 2px red;
  border-radius: 25px;
  width: 3rem;
  color: red;
  background-color: white;
  margin: 0.5rem;
}

#start-button:hover,
#stop-button:hover {
  background-color: #dddef8;
}
