.fileView{
    width: 100%;
}

#files-card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 2rem;
}

.fileView__titles{
    display: flex;
    margin-bottom: 5px;
    color: rgb(85, 78, 78);
}

.fileView__titles>div>*{
    margin: 5px;
}

.fileView__titles--left{
    flex: 1;
}

.fileView__titles--right{
    display: flex;
}

#files-list{
    height:70vh;
    width:93vw;
    overflow-y: scroll;
}